{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    ["@babel/preset-env", {
        "useBuiltIns": false,
        "loose": true,
        "targets": {
          "node": "current"
        }
    }]
  ]
}
